.input-number-with-controls {
    display: flex;

    input {
        appearance: none;
        width: .rem(46px)[@value];
        height: .rem(40px)[@value];
        border: 1px solid @border-color;
        font-size: .rem(14px)[@value];
        text-align: center;
        font-weight: 400;
        border-radius: 0;
        color: @text-color;

        .breakpoint(lg, {
            font-size: .rem(14px)[@value];
        });

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
            margin: 0;
        }
    }

    button {
        .btn();
        background-color: #FBFAFA;
        width: .rem(29px)[@value];
        height: .rem(40px)[@value];
        font-size: 1rem;
        padding: .5rem;

        .breakpoint(lg, {
            font-size: 1rem
        });

        &:hover:not(:disabled) {
            background-color: @gray-lighter;
        }

        svg {
            width: .rem(13px)[@value];
            height: .rem(13px)[@value];
            fill: @text-color;
        }

        &:disabled {
            svg {
                fill: rgba(@text-color, 0.4);
            }
        }

        &.button-plus {
            border: 1px solid @border-color;
            border-left: none;
            border-radius: 0 @border-radius-base @border-radius-base 0;
        }

        &.button-minus {
            border: 1px solid @border-color;
            border-right: none;
            border-radius: @border-radius-base 0 0 @border-radius-base;
        }
    }
}

.form-checkbox {
    label {
        font-weight: 400;
        margin-bottom: 0;
    }

    input {
        display: none;

        &:checked + .form-checkbox-name::before {
            border: 0px solid #A6A7AB;
            background-image: url("../../img/checkbox-active.svg");
            background-size: cover;
            background-position: center;
        }
    }

    .form-checkbox-name {
        position: relative;
        padding: 0 0 0 .rem(28px)[@value];
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: .rem(20px)[@value];
            height: .rem(20px)[@value];
            border-radius: 2px;
            border: 1px solid #A6A7AB;
        }
    }
}

.form-group-checkbox {
    margin-bottom: .rem(6px)[@value];
}

.form-group {
    position: relative;
    margin-bottom: .rem(10px)[@value];
}

.form-error {
    display: none;
    color: @brand-danger;
    font-size: .rem(14px)[@value];
    margin-top: .rem(2px)[@value];
}

input.form-control {
    height: .rem(50px)[@value];
    background-color: #F6F6F6;
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
    padding: .rem(20px)[@value] .rem(16px)[@value] .rem(6px)[@value] .rem(16px)[@value];

    .customPlaceholder({
        color: rgba(#FFFFFF, 0);
    });

    &:focus {
        background-color: #FFFFFF;
        border: 1px solid rgba(0,160,70,0.6);
        box-shadow: none;
    }

    &:placeholder-shown {
        & ~ .form-label {
            top: .85rem;
            font-size: 1rem;
            color: @gray-light;
        }
    }

    &:not(:placeholder-shown) {
        &:not(:focus) {
            &:valid, &.form-valid {
                background-color: #F0F7F3;
            }
        }

        &:invalid, &.form-invalid {
            background-color: #FFFFFF;
            border: 1px solid rgba(@brand-danger, 0.6);

            & ~ .form-error {
                display: block;
            }
        }
    }

    &:disabled {
        background-color: #F6F6F6;
    }
}

.form-label {
    position: absolute;
    font-weight: 400;
    top: .3rem;
    left: .rem(16px)[@value];
    color: rgba(@text-color, .4);
    font-size: .rem(14px)[@value];
}

.form-control-readonly {
    position: relative;
    padding-top: .rem(23px)[@value];
    padding-bottom: .rem(4px)[@value];

    .form-label {
        left: 0;
        //top: .6rem;
    }

    .form-value {

    }
}

.form-radio {
    display: inline-block;
    margin-right: 3rem;
    padding-top: .5rem;

    &:last-child {
        margin-right: 0;
    }

    label {
        font-weight: 400;
        margin-bottom: 0;
    }

    input {
        display: none;

        &:checked + .form-radio-name::after {
            content: '';
            display: block;
            position: absolute;
            left: .rem(4px)[@value];
            top: .rem(4px)[@value];
            width: .rem(12px)[@value];
            height: .rem(12px)[@value];
            border-radius: 50%;
            background-color: @brand-primary;
        }
    }

    .form-radio-name {
        position: relative;
        padding: 0 0 0 .rem(30px)[@value];
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: .rem(20px)[@value];
            height: .rem(20px)[@value];
            border-radius: 50%;
            border: 1px solid #A6A7AB;
        }
    }
}

.form-group-radio {
    margin-bottom: .rem(6px)[@value];
}
