/**
    Body styles when header is fixed or mobile navigation is visivle
 */
//.fixedHeader({
//    padding-top: @headerHeight;
//
//    .mobileHeader({
//        padding-top: @headerHeightMobile;
//    })
//});

.navigationVisible({
    .mobileHeader({
        overflow: hidden;
    });
});
/**
    End of Body styles
 */

.main-header {
    background: #FFFFFF;
    //height: @headerHeight;
    //border-bottom: 1px solid @gray-light;

    .mobileHeader({
        .fixedHeaderRules();
        position: static;

        .fixedHeader({
            position: fixed;
        });

        .navigationVisible({
            background-color: @gray-lighter;
        });
    });

    .fixedHeader({
        .fixedHeaderRules();
    });

    .top-header {
        background-color: @gray-dark;
        font-size: .rem(14px)[@value];
        padding: .4rem 0;
        color: @dark-theme-text-color;
        height: .rem(34px)[@value];

        .top-header-list {
            display: flex;
            flex-wrap: wrap;

            > .list-item {
                margin-right: .rem(28px)[@value];

                &:last-child {
                    margin-right: 0;
                }
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: inherit;
                color: @dark-theme-text-color;
                .transition();

                &:hover {
                    color: @brand-primary;

                    svg {
                        fill: @brand-primary;
                    }
                }

                svg {
                    width: .rem(20px)[@value];
                    height: .rem(20px)[@value];
                    fill: @dark-theme-text-color;
                    margin-right: .rem(8px)[@value];
                    .transition()
                }
            }


            &.socials-list {
                justify-content: flex-end;
            }
        }
    }
    
    .mid-header {
        height: .rem(74px)[@value];
        background: linear-gradient(180deg, #373944 0%, #2B2F38 100%);

        .container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }

        .logo {
            height: .rem(46px)[@value];
            width: .rem(240px)[@value];

            .icon {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .search {
            width: 100%;
            max-width: .rem(350px)[@value];
            margin: 0 1rem;
            flex-shrink: 1;

            .search-wrap {
                position: relative;
            }

            label.header-search-input-label {
                margin-bottom: 0;

                .icon {
                    position: absolute;
                    left: 1rem;
                    top: 50%;
                    transform: translate(0, -50%);
                    width: .rem(24px)[@value];
                    height: .rem(24px)[@value];
                    fill: #D9D9DA;
                }
            }

            input.header-search-input {
                display: block;
                width: 100%;
                border: 1px solid transparent;
                height: .rem(46px)[@value];
                padding: .rem(9px)[@value] .rem(99px)[@value] .rem(10px)[@value] .rem(52px)[@value];
                border-radius: @border-radius-base;
                background: @gray-dark;
                color: #FFFFFF;
                outline: none;

                .customPlaceholder({
                    font-size: .rem(14px)[@value];
                    color: @dark-theme-text-color;
                    font-weight: 400;
                });

                &:focus {
                    border: 1px solid #575960;

                    & ~ button {
                        color: @brand-primary;
                    }
                }

                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active
                {
                    -webkit-box-shadow: 0 0 0 30px @gray-dark inset !important;
                    -webkit-text-fill-color: #FFFFFF !important;
                }
            }

            button {
                position: absolute;
                background: transparent;
                right: 0;
                top: 0;
                bottom: 0;
                color: @dark-theme-text-color;
                padding-left: 1rem;
                padding-right: 1rem;

                &:hover {
                    color: @brand-primary;
                }

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: .rem(11px)[@value];
                    bottom: .rem(11px)[@value];
                    left: 0;
                    width: 1px;
                    background: #575960;
                }
            }

            .search-autocomplete {
                display: none;
                position: absolute;
                top: 100%;
                transform: translate(-50%, 0);
                left: 50%;
                width: 100%;
                max-width: .rem(980px)[@value];
                //max-height: .rem(460px)[@value];
                padding: 0 .5rem;
                background-color: #FFFFFF;
                box-shadow: 0 11px 22px 6px rgba(0,0,0,0.08);
                z-index: @zindex-navbar;
                //overflow: auto;
                //.customScrollBar();

                &.active {
                    display: flex;
                }

                .matched-phrase {
                    background: @border-color;
                }

                .product-list-item {
                    article {
                        padding: .5rem 0 0 0;
                    }

                    .product-list-item-category {
                        font-size: 1rem;
                        color: @brand-primary;
                    }

                    .product-list-item-stock {
                        font-size: 1rem;
                    }

                    &:hover {
                        .product-list-item-title {
                            text-decoration: underline;
                        }
                    }
                }

                .search-autocomplete-col {
                    .searchAutocompleteCol(25%);
                    display: flex;
                }

                .search-autocomplete-col-2 {
                    .searchAutocompleteCol(50%);
                    padding-right: 0;
                    padding-left: 0;
                    padding-bottom: .5rem;
                    margin-right: -.5rem;
                }

                .search-autocomplete-col-product-header {
                    padding: 0 1.5rem .45rem;
                    border-bottom: 1px solid @border-color;
                    margin-right: -.5rem;
                }

                .search-autocomplete-col-product-footer {
                    padding-top: .5rem;
                    padding-left: .5rem;

                    a.btn {
                        position: relative;
                        display: block;
                        width: 100%;
                        padding: .rem(12px)[@value] 2.5rem;

                        .icon {
                            position: absolute;
                            top: 50%;
                            right: 1rem;
                            transform: translate(0, -50%);
                            width: .5rem;
                            height: .rem(14px)[@value];
                            fill: #FFFFFF;
                            stroke: #FFFFFF;
                            stroke-width: 3px;
                        }
                    }
                }

                .search-autocomplete-product-list {
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: -.5rem;
                }

                .search-autocomplete-product-item {
                    display: flex;
                    align-items: flex-start;
                    width: 50%;
                    flex-basis: 50%;
                    flex-shrink: 0;
                    padding: .rem(12px)[@value] .rem(5px)[@value];
                    border-bottom: 1px solid @border-color;
                    color: @text-color;
                    
                    &:hover {
                        .search-autocomplete-product-item-title {
                            text-decoration: underline;
                        }
                    }

                    &:nth-child(2n) {
                        border-left: 1px solid @border-color;
                    }

                    img {
                        display: block;
                        width: 100%;
                        max-width: .rem(80px)[@value];
                        margin-right: .rem(3px)[@value];
                    }

                    .search-autocomplete-product-item-info {
                        .search-autocomplete-product-item-title {
                            font-size: .rem(14px)[@value];
                            margin-bottom: .5rem;
                            line-height: 1.29;
                        }

                        .search-autocomplete-product-item-price {
                            span {
                                opacity: .4;
                            }
                        }
                    }
                }
            }
        }

        .mid-header-actions {
            display: flex;
            flex-wrap: wrap;
            height: 100%;

            .btn-action {
                display: inline-flex;
                align-items: center;
                height: 100%;
                background: rgba(@gray-dark, 0);
                border-radius: 0;
                padding-left: .rem(16px)[@value];
                padding-right: .rem(16px)[@value];
                color: @dark-theme-text-color;

                .icon {
                    width: .rem(32px)[@value];
                    height: .rem(28px)[@value];
                    margin-right: .rem(12px)[@value];
                }

                &:hover, &:focus, &[aria-expanded="true"] {
                    background: @gray-light;
                }

                &:last-child {
                    padding-right: 0;

                    &:hover, &:focus, &[aria-expanded="true"] {
                        background: transparent;
                    }
                }
            }

            .login-button {
                .login-button-label {
                    span {
                        position: relative;
                        display: inline-block;
                        padding-right: 1.15rem;

                        &::after {
                            content: '';
                            position: absolute;
                            display: block;
                            top: 50%;
                            right: .5rem;
                            transform: translate(0, -50%);
                            width: 1px;
                            height: 1.5rem;
                            background: #575960;
                        }
                        
                        &:last-child {
                            padding-right: 0;
                            
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .language {
            .dropdown-menu {
                min-width: .rem(250px)[@value];
            }

            .dropdown-item {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: .rem(48px)[@value];

                &.active {
                    &::after {
                        display: block;
                    }
                }

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 1rem;
                    top: 50%;
                    transform: translate(0, -50%);
                    border: 1px solid #A6A7AB;
                    width: .rem(20px)[@value];
                    height: .rem(20px)[@value];
                    background: #FFFFFF;
                    border-radius: 50%;
                }

                &::after {
                    content: '';
                    display: none;
                    position: absolute;
                    left: .rem(20px)[@value];
                    top: 50%;
                    transform: translate(0, -50%);
                    width: .rem(12px)[@value];
                    height: .rem(12px)[@value];
                    background: @brand-primary;
                    border-radius: 50%;
                }

                .icon {
                    width: .rem(28px)[@value];
                    margin-right: .rem(6px)[@value];
                }
            }
        }
    }

    .bottom-header {
        height: .rem(54px)[@value];
        background: #FFFFFF;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,0.08);

        .bottom-header-content-wrap {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }

        .navigation {
            height: 100%;
            display: flex;

            .navigation-top-level {
                margin-right: .rem(42px)[@value];

                &.active {
                    .navigation-first-level {
                        display: block;
                    }

                    > .btn {
                        border-bottom: 2px solid @brand-primary;
                        box-shadow: none;

                        .caret {
                            transform: rotate(180deg);
                        }
                    }
                }

                > .btn {
                    height: 100%;
                    background: transparent;
                    padding: 0;
                    border-radius: 0;
                    border-bottom: 2px solid transparent;

                    &:hover {
                        border-bottom: 2px solid @brand-primary;
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }
            }


            .navigation-first-level {
                display: none;
                position: absolute;
                left: 0;
                top: calc(100% + 2px);
                background: #FFF;
                right: 0;
                padding: @navigationPaddingTop 0 @navigationPaddingBottom 0;
                box-shadow: 0 11px 22px 6px rgba(0,0,0,0.08);
                min-height: 30rem;
                z-index: @zindex-navbar;
                
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: @firstLevelNavigationWidth;
                    bottom: 0;
                    width: 1px;
                    background-color: #E9E9E9;
                }

                > ul {
                    padding: 0;
                    list-style-type: none;
                    max-width: @firstLevelNavigationWidth;

                    > li {
                        &.active {
                            .navigation-second-level {
                                display: block;
                            }

                            > a {
                                background-color: #E9E9E9;
                                color: @text-color;
                            }
                        }
                        
                        > a {
                            display: block;
                            font-weight: 500;
                            color: @text-color-light;
                            padding: .rem(9px)[@value] 1rem;
                            background-image: url("../../img/menu-chevron-right.svg");
                            background-repeat: no-repeat;
                            background-size: .rem(7px)[@value] .rem(12px)[@value];
                            background-position: calc(100% - 1rem) center;

                            &:hover, &.active {
                                background-color: #E9E9E9;
                                color: @text-color;
                            }
                        }

                        .navigation-first-level-home-link {
                            margin-bottom: .rem(14px)[@value];

                            a {
                                font-weight: 500;
                            }
                        }

                        .navigation-second-level {
                            display: none;
                            position: absolute;
                            left: @firstLevelNavigationWidth;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            padding: (@navigationPaddingTop + 0.5rem) 1rem @navigationPaddingBottom .rem(34px)[@value];
                            overflow: auto;

                            .navigation-columns {
                                column-count: 3;
                                column-gap: .rem(24px)[@value];
                            }

                            .navigation-category {
                                margin-bottom: .rem(34px)[@value];
                                break-inside: avoid;
                            }

                            .navigation-category-header {
                                font-size: .rem(18px)[@value];
                                font-weight: 500;
                                margin-bottom: .rem(12px)[@value];
                            }

                            ul {
                                .link-list();

                                li {
                                    a {
                                        color: @text-color;

                                        &:hover {
                                            color: @brand-primary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .quick-nav {
            display: flex;
            flex-wrap: wrap;

            .quick-nav-item {
                display: inline-flex;
                align-items: center;
                margin-right: .rem(28px)[@value];
                color: @text-color;

                &:hover {
                    color: @brand-primary;
                }

                &:last-child {
                    margin-right: 0;
                }

                .icon {
                    width: .rem(22px)[@value];
                    height: .rem(22px)[@value];
                    margin-right: .rem(10px)[@value];
                }
            }
        }
    }
}
