.home-tech {
    background-color: #F9F8F8;

    .home-tech-button {
        text-align: left;
        box-shadow: 0 9px 18px -4px rgba(0,0,0,0.08);
        padding-top: .5rem;
        padding-bottom: .5rem;
        margin-bottom: .5rem;

        &:hover, &:focus, &:active, &[aria-expanded="true"], &.active {
            border-color: rgba(@brand-primary, .6);
            background-color: #FAEFE2;
        }
        
        &.home-tech-button-mobile {
            display: none;
        }
    }
}