.header-mobile {
    display: none;
    position: relative;
    z-index: @zindex-navbar-fixed;
    
    .mobileHeader({
        display: block;
    });

    .mid-header-mobile {
        background: linear-gradient(180deg, #373944 0%, #2B2F38 100%);
        height: .rem(68px)[@value];

        > .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding: 0 1.5rem;
        }
        
        .mobile-header-actions {
            display: flex;
        }

        .logo {
            width: .rem(164px)[@value];
            height: .rem(33px)[@value];

            .mobileHeader({
                display: inline-block;
            });

            .icon {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .main-header-mobile-action {
            position: relative;
            display: inline-block;
            align-items: center;
            width: .rem(28px)[@value];
            height: .rem(28px)[@value];
            margin-left: 1rem;
            cursor: pointer;
            background-color: transparent;
            padding: 0;
            border: none;

            &.main-header-mobile-btn-logged-in {
                width: .rem(29px)[@value];
                height: .rem(29px)[@value];
            }

            &.main-header-mobile-btn-shopping-cart {
                margin-right: .rem(3px)[@value];
                width: .rem(32px)[@value];
            }

            svg, .icon {
                width: 100%;
                height: 100%;

                &.action-icon-grey {
                    fill: #C9C9C9;
                }
            }

            .main-header-mobile-shopping-cart-items {
                position: absolute;
                top: .rem(-6px)[@value];
                right: .rem(-10px)[@value];
                width: .rem(22px)[@value];
                height: .rem(22px)[@value];
                border: 3px solid #333640;
                border-radius: 50%;
                background-color: @brand-success;
                color: #FFFFFF;
                font-size: .rem(12px)[@value];
                text-align: center;
            }
        }
    }

    .bottom-header-mobile {
        position: relative;
        background: @gray-dark;

        .search {
            max-width: none;
            margin: 0;

            .mobileHeader({
                display: block;
            });

            input.header-search-input {
                height: .rem(58px)[@value];

                &:focus {
                    border-color: transparent;
                }
            }
        }
    }

}