.modal {
    .breakpointMax(md, {
        padding: .1rem !important;
    });

    .breakpoint(md, {
        padding: 1.5rem !important;
    });

    .modal-header {
        position: relative;

        &.modal-header-no-content {
            padding: 0;
            border-bottom: none;
        }

        .close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            z-index: 1;

            .breakpoint(md, {
                top: @modal-inner-padding;
                right: @modal-inner-padding;
            });
        }

        .icon-close {
            width: .rem(20px)[@value];
            height: .rem(20px)[@value];
            //fill: #C9C9C9;
        }
    }

    .modal-body {
        padding: 1rem;

        .breakpoint(md, {
            padding: 1.5rem;
        });
    }

    .modal-footer {
        padding: 1rem;

        .breakpoint(md, {
            padding: 1.5rem;
        });
    }
}
