.select2-container {
    display: block;

    .select2-selection {
        height: .rem(50px)[@value];
        border: 1px solid @border-color;
        border-radius: @border-radius-base;

        .select2-selection__rendered {
            line-height: .rem(50px)[@value];
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .select2-selection__arrow {
            height: .rem(48px)[@value];
            position: absolute;
            top: 1px;
            right: 1px;
            width: 20px;

            b {
                border-color: #B0B1B5 transparent transparent transparent;
                border-width: 8px 6px 0 6px;
                margin-left: .rem(-14px)[@value];
                border-style: solid;
                height: 0;
                left: 50%;
                margin-top: -2px;
                position: absolute;
                top: 50%;
                width: 0;
            }
        }
    }

    &.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent #B0B1B5 transparent;
        border-width: 0 6px 8px 6px;
    }

    .select2-option-action-label {
        position: absolute;
        right: .rem(36px)[@value];
        top: .rem(9px)[@value];
        bottom: .rem(8px)[@value];
        background: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid @border-color;
        padding-left: .rem(13px)[@value];
        color: @brand-primary;
    }
}

.select2-dropdown {
    border: none;
    box-shadow: @dropdown-box-shadow;
}

.select2-results__option {
    padding: .rem(10px)[@value] .rem(16px)[@value];
}

.select2-container--default {
    .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: rgba(0, 0, 0, 0.035);
        color: @text-color;

        &.select2-results__option--selected {
            background-color: rgba(0, 0, 0, 0.035);
        }
    }

    .select2-results__option--selectable {
        position: relative;
        padding-left: .rem(46px)[@value];

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 1rem;
            top: .rem(12px)[@value];
            width: .rem(20px)[@value];
            height: .rem(20px)[@value];
            border-radius: 50%;
            border: 1px solid #A6A7AB;
        }

        &.select2-results__option--selected {
            background-color: transparent;

            &::after {
                content: '';
                display: block;
                position: absolute;
                left: .rem(20px)[@value];
                top: .rem(16px)[@value];
                width: .rem(12px)[@value];
                height: .rem(12px)[@value];
                border-radius: 50%;
                background-color: @brand-primary;
            }
        }
    }


}

.select2-container--select-image {
    .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: rgba(0, 0, 0, 0.035);
        color: @text-color;

        &.select2-results__option--selected {
            &, &:hover {
                background-color: #e6e6e6;
            }
        }
    }

    .select2-results__option--selected {
        background-color: #e6e6e6;
    }
}

.select2-option-with-image {
    display: flex;
    align-items: center;

    .select2-option-with-image-wrap {
        display: inline-block;
        margin-right: .75rem;
        margin-bottom: 2px;
    }

    .select2-option-with-image-wrap {
        display: inline-block;
        width: .rem(27px)[@value];
        height: .rem(27px)[@value];
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid @border-color;

        img {
            display: block;
            max-width: none;
            width: 2.4rem;
            margin-left: -1px;
        }
    }
}

