.services {
    background: linear-gradient(180deg, #FFFFFF 0%, #F9F8F8 100%) no-repeat center bottom;
    background-size: 100% .rem(800px)[@value];
    padding-bottom: 0;
}

.services-list-row {
    .make-row(@servicesSmallGutter);

    .breakpointMax(sm, {
        margin-left: -@servicesSmallGutter;
        margin-right: -@servicesSmallGutter;
    });

    .breakpointMax(lg, {
        flex-wrap: nowrap;
        overflow: auto;
        padding-bottom: 1.5rem;
        .noScrollBar();
    });

    .breakpoint(lg, {
        .make-row(.5rem);
    });

    .breakpoint(xl, {
        .make-row(@servicesGutter);
    });
}

.services-list-col {
    display: inline-block;
    .make-xs-column(10, @servicesSmallGutter);
    flex-shrink: 0;
    margin-bottom: (@servicesGutter / 2);

    .breakpoint(sm, {
        .make-xs-column(7, .5rem);
    });

    .breakpoint(md, {
        .make-xs-column(5, .5rem);
    });

    .breakpoint(lg, {
        .make-xs-column(4, .5rem);
        margin-bottom: (1rem * 2);
    });

    .breakpoint(xl, {
        .make-xs-column(4, @servicesGutter);
        margin-bottom: (@servicesGutter * 2);
    });
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: .rem(20px)[@value];

    .card-hero {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: @brand-primary;
        }
    }

    .service-title {
        font-size: .rem(21px)[@value];
        margin-bottom: .rem(10px)[@value];
        font-weight: 500;
    }

    .service-content {
        margin-bottom: auto;

        > *:last-child {
            margin-bottom: 0;
        }
    }

    .btn {
        margin-bottom: .rem(9px)[@value];

        &:last-child {
            margin-bottom: 0;
        }
    }
}