.services {

}

.services-list-row {
    .make-row(@servicesGutter);
}

.services-list-col {
    .make-xs-column(4, @servicesGutter);
    margin-bottom: (@servicesGutter * 2);
}

.service {
    padding-bottom: .rem(20px)[@value];

    .card-hero {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: @brand-primary;
        }
    }

    .service-title {
        font-size: .rem(21px)[@value];
        margin-bottom: .rem(10px)[@value];
        font-weight: 500;
    }
}